.Pokemon {
    width: 40%;
    margin: 0 auto 2px auto;
    border: 1px solid #000;

}

.Pokemon h3 {
    color: #620011;
    text-transform: uppercase;
    font-size: 2rem;
}

.Pokemon button {
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
